@charset "UTF-8";
/*propiedades generales*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fira Sans Extra Condensed", sans-serif; }

body {
  font-size: "Fira Sans Extra Condensed", sans-serif;
  background-color: rgba(180, 215, 255, 0.651);
  width: 100%;
  height: 100%; }

header {
  width: 100%;
  height: 80px;
  overflow: hidden;
  background: #000055;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end; }

/*logo del lado izquierdo*/
header .logo {
  color: white;
  font-size: 30px;
  line-height: 100px;
  flex-direction: row;
  float: left;
  justify-content: center; }

/*botones del lado derecho*/
header nav {
  line-height: 80px;
  display: flex;
  flex-direction: row-reverse; }

/*para sombra de botones*/
header nav a:hover {
  background: #0ca5ec;
  border-radius: 50px; }

main {
  width: 100%;
  height: 600px;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  margin: auto; }

/*para centrar*/
.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden; }

/*botones del nav*/
.button {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-size: 15px;
  background: rgba(47, 113, 255, 0.658);
  color: #FFF;
  display: inline-block;
  padding: 10px;
  width: 100px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0px 3px 0px #0404ad;
  border-radius: 50px;
  line-height: normal; }

.button:hover {
  box-shadow: 0px 0px 0px;
  padding-top: 10px; }

/*lista sin viñeta y horizontal*/
ul {
  list-style-type: none; }
  ul li {
    display: inline-block;
    position: relative; }

/*contenido dentro del video*/
.textoIndex h1 {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  background: rgba(47, 113, 255, 0.658);
  width: 100%;
  text-align: center; }

.textoIndex h2 {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  background: rgba(47, 113, 255, 0.658);
  width: 100%;
  text-align: center; }

.textoIndex h3 {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  background: rgba(47, 113, 255, 0.658);
  width: 100%;
  text-align: center; }

/*carrusel index*/
.container-fluid {
  margin: 0;
  padding: 0; }

/*modificar después*/
@media (min-width: 600px) and (max-width: 1024px) {
  .contact-form {
    display: grid;
    grid-template-columns: 2fr 1fr; } }

/*video*/
.videoIndex {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden; }
  .videoIndex video {
    position: sticky;
    height: 600px;
    width: 100%;
    object-fit: cover;
    opacity: 25%; }

.textoIndex {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.imagenIndex {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
  display: flex; }
  .imagenIndex img {
    position: sticky;
    height: 600px;
    width: 100%;
    object-fit: cover;
    opacity: 25%;
    display: flex; }

/*contacto whatsapp*/
.contactoWp {
  position: fixed;
  width: 55px;
  height: 55px;
  bottom: 30px;
  right: 30px; }

/*footer con redes*/
.footerRedes {
  width: 100%;
  height: 50px;
  overflow: hidden;
  background: #000055;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: center; }
  .footerRedes ul li {
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    transition: .2s; }
  .footerRedes img {
    width: 50%;
    height: 50%; }
  .footerRedes ul:hover a {
    filter: blur(1.25px); }
  .footerRedes ul li a:hover {
    filter: none; }

.footerRedes :hover {
  transform: rotate(360deg); }

/*para el grid servicios*/
.gridServicios {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 60px 180px 180px 180px;
  grid-template-areas: "titulo titulo" "servicioUno servicioDos" "servicioTres servicioCuatro" "servicioCinco servicioSeis";
  justify-items: stretch;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none; }

.gridServicios :hover {
  transform: scale(1, 1.05);
  transition: 2s;
  background-color: blanchedalmond; }

.titulo {
  grid-area: titulo;
  text-align: center; }

.administrativo {
  grid-area: servicioUno;
  background-image: linear-gradient(#83b5ff, #005de9);
  height: 100%; }

.impositivo {
  grid-area: servicioDos;
  background-color: #83ffcb;
  height: 100%; }

.contable {
  grid-area: servicioTres;
  background-color: #ffa083;
  height: 100%; }

.laboral {
  grid-area: servicioCuatro;
  background-image: linear-gradient(#ea83ff, #9307af);
  height: 100%; }

.capacitaciones {
  grid-area: servicioCinco;
  background-image: linear-gradient(#83e6ff, #0499be);
  height: 100%; }

.auditoria {
  grid-area: servicioSeis;
  background-color: #ffbf83;
  height: 100%; }

/*para contacto*/
.content {
  max-width: 100%;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px; }

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(33, 3, 145, 0.3);
  height: 500px; }

.contact-form {
  opacity: 80%; }
  .contact-form form {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    max-height: 600px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70px 70px 70px 50px 120px 30px 70px;
    grid-template-areas: "nombre nuestrosDatos" "email nuestrosDatos" "telefono nuestrosDatos" "tipo imagenContacto" "consulta imagenContacto" "novedades imagenContacto" "botones imagenContacto";
    text-align: center; }
  .contact-form form label {
    display: block; }
  .contact-form form button,
  .contact-form form input,
  .contact-form form textarea {
    width: 50%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: black;
    border-bottom: 1px solid #1800a3ef; }

.nombre {
  grid-area: nombre; }

.email {
  grid-area: email; }

.telefono {
  grid-area: telefono; }

.tipo {
  grid-area: tipo; }

.consulta {
  grid-area: consulta; }

.checkbox {
  grid-area: novedades; }

.botones {
  grid-area: botones; }

.nuestrosDatos {
  grid-area: nuestrosDatos;
  background: rgba(180, 215, 255, 0.651); }

.infoMail {
  grid-area: infoMail;
  background: rgba(180, 215, 255, 0.651); }

.infoTel {
  grid-area: infotel;
  background: rgba(180, 215, 255, 0.651); }

.imagenContacto {
  grid-area: imagenContacto;
  background: rgba(180, 215, 255, 0.651); }
