$base-font-family: 'Fira Sans Extra Condensed', sans-serif;
$base-background-color: rgba(180, 215, 255, 0.651);
$button-font-size: 15px;
$texto-background: rgba(47, 113, 255, 0.658);
@mixin sizes($width, $height){
    width: $width;
    height: $height;
}

/*propiedades generales*/
*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $base-font-family;
}
body{
    font-size: $base-font-family;
    background-color: $base-background-color;
    @include sizes(100%,100%);
    display: block;
}
header{
    width: 100%;
    height: 50px;
    background: rgb(0, 0, 85);

    align-items: center;
    flex-direction: row;
    overflow: hidden;
}
/*logo del lado izquierdo*/
header .logo{
    color: rgb(255, 255, 255);
    font-size: 30px;
    flex-direction: row;
    float: left;
        img{
            @include sizes(50px,50px)
        }
}
main{
    width: 100%;
    height: 600px;
    font-family: $base-font-family;
    margin: auto;
}
/*menu responsive*/
#btn-menu{
    display: none;
}
header {
    label{
        display: none;
        @include sizes(30px,30px);
        padding: 10px;
        border-right: 1px solid #fff;
    }   
    img{
        @include sizes(30px,30px);  
    }
    label:hover{
        cursor: pointer;
        box-shadow: 0px 0px 0px;
        padding-top: 10px;
    }
}
.menu{
    ul{
        margin: 0;
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: flex-end;
    }
    li a{
        display: block;
        padding: 15px 20px;
        text-decoration: none;
        font-family: $base-font-family;
        font-size: $button-font-size;
        color: #FFF;
        border-right: 1px solid #fff;
        line-height: normal;
    }
        li:hover{
        background: rgb(12, 165, 236);
    }
}
@media (max-width: 768px) {
    header label {
        display: block;
    }
    .menu{
        position: absolute;
        background: rgb(0, 0, 85);
        width: 30%;
        margin-left: -70%;
        transition: all 1s;
        display: block;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li{
        border-top: 1px solid #fff;
    }
}
#btn-menu:checked ~ .menu{
    margin: 0;
}
/*para centrar*/
.wrapper{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
/*contenido dentro del video*/
.textoIndex{
        h1{
            font-family: $base-font-family;
            background: $texto-background;
            width: 100%;
            text-align: center;
        } 
        h2{
            font-family: $base-font-family;
            background: $texto-background;
            width: 100%;
            text-align: center;
        } 
        h3{
            font-family: $base-font-family;
            background: $texto-background;
            width: 100%;
            text-align: center;
        }
}       
/*carrusel index*/
.container-fluid{
    margin: 0;
    padding: 0;
}
/*video*/
.videoIndex{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
        video{
            position:sticky;
            height: 600px;
            width: 100%;
            object-fit: cover;
            opacity: 25%;
        }
}
.textoIndex{
    position: absolute;
    @include sizes(100%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}   
.imagenIndex{
    @include sizes(100%, 600px);
    position: relative;
    overflow: hidden;
    display: flex;
        img{
            position:sticky;
            height: 600px;
            width: 100%;
            object-fit: cover;
            opacity: 25%;
            display: flex;
        }   
} 
/*contacto whatsapp*/
.contactoWp{
    position: fixed;
    @include sizes(55px, 55px);
    bottom: 30px;
    right: 30px;
}
/*footer con redes*/
.footerRedes{
    width: 100%;
    height: 50px;
    overflow: hidden;
    background: rgb(0, 0, 85);
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
        ul li{
            margin: 0 5px;
            width: 50px;
            height: 50px;
            text-align: center;
            transition: .2s;    
        }
        img{
            width: 50%;
            height: 50%;
        }
        ul:hover a{
            filter: blur(1.25px); 
        }
        ul li a:hover{
            filter: none; 
        }
        ul{
            list-style-type: none;
        }
        li{
        display: inline-block;
        position: relative;
        }
}
.footerRedes :hover{
    transform: rotate(360deg);
}
/*para el grid servicios*/
.gridServicios {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60px 180px 180px 180px;
    grid-template-areas: "titulo titulo"
   "servicioUno servicioDos"
   "servicioTres servicioCuatro"
   "servicioCinco servicioSeis";
    justify-items: stretch;
    align-items: center;
    box-sizing: border-box;
    text-decoration: none; 
}
  .gridServicios :hover {
    transform: scale(1, 1.05);
    transition: 2s;
    background-color: blanchedalmond; 
}
  .titulo {
    grid-area: titulo;
    text-align: center; 
}
  .administrativo {
    grid-area: servicioUno;
    background-image: linear-gradient(#83b5ff, #005de9);
    height: 100%; 
}
  .impositivo {
    grid-area: servicioDos;
    background-color: #83ffcb;
    height: 100%; 
}
  .contable {
    grid-area: servicioTres;
    background-color: #ffa083;
    height: 100%; 
}
  .laboral {
    grid-area: servicioCuatro;
    background-image: linear-gradient(#ea83ff, #9307af);
    height: 100%; 
}
  .capacitaciones {
    grid-area: servicioCinco;
    background-image: linear-gradient(#83e6ff, #0499be);
    height: 100%; 
}
  .auditoria {
    grid-area: servicioSeis;
    background-color: #ffbf83;
    height: 100%; 
}
/*para contacto*/
.content{
    max-width: 100%;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(33, 3, 145, 0.3);
    height: 500px;
}
.contact-form {
    opacity: 80%;
        form{
            padding-top: 10px;
            padding-left: 50px;
            padding-right: 50px;
            padding-bottom: 10px;
            max-height: 600px;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 70px 70px 70px 50px 120px 30px 70px;
            grid-template-areas: 
            "nombre nuestrosDatos"
            "email nuestrosDatos"
            "telefono nuestrosDatos"
            "tipo imagenContacto"
            "consulta imagenContacto"
            "novedades imagenContacto"
            "botones imagenContacto";
            text-align: center;
        }
        form label{
            display: block;  
        }
        form button,
        form input,
        form textarea {
            width: 50%;
            padding: .7em;
            border: none;
            background: none;
            outline: 0;
            color: black;
            border-bottom: 1px solid #1800a3ef;
        }
}
.nombre{
    grid-area: nombre;
}
.email{
    grid-area: email;
}
.telefono{
    grid-area: telefono;
}
.tipo{
    grid-area: tipo;
}
.consulta{
    grid-area: consulta;
}
.checkbox{
    grid-area: novedades;
}
.botones{
    grid-area: botones;
}
.nuestrosDatos{
    grid-area: nuestrosDatos;
    background: $base-background-color;
}
.infoMail{
    grid-area: infoMail;
    background: $base-background-color;
}
.infoTel{
    grid-area: infotel;
    background: $base-background-color;
}
.imagenContacto{
    grid-area: imagenContacto;
    background: $base-background-color;
}
.imagenContacto{
    img{
        @include sizes(200px, 200px);
    }
}